<!DOCTYPE html>
<html lang="en-us">
	<head>
		<title th:text="${'Item :: ' + itemType.description}">Item :: Permits</title>
    	<!--/*/ <th:block th:include="fragments/include_header :: head"></th:block> /*/-->
	</head>

	
	<body class="">


		<!--/*/ <th:block th:include="fragments/include_heading :: heading"></th:block> /*/-->

    	<!--/*/ <th:block th:include="fragments/include_navigation :: navigation"></th:block> /*/-->
		
		<!-- #MAIN PANEL -->
		<div id="main" role="main">

			<!-- RIBBON -->
			<div id="ribbon">

				<!-- breadcrumb -->
				<ol class="breadcrumb">
					<li>Items</li>
					<li><a th:href="@{/item/{itemType}(itemType=${itemType.ordinal()})}" th:text="${itemType.description}" href="#">Permit</a></li>
					<li th:text="${item.name}">-</li>
				</ol>
				<!-- end breadcrumb -->
				
				<span class="ribbon-button-alignment pull-right" style="margin-right:25px">
					<a href="javascript:history.back()" id="backbtn" class="btn btn-ribbon hidden-xs">
						<span id="back" class="btn btn-ribbon hidden-xs"><i class="fa fa-arrow-left"></i> Back</span>
					</a>
				</span>
			</div>
			<!-- END RIBBON -->

			<!-- #MAIN CONTENT -->
			<div id="content">
			<section id="widget-grid" class="">
				<div class="well">
					<div th:if="${errors}" >
						<div class="alert alert-danger">
						<ul>
							<li th:each="error : ${errors}" th:text="${error}"></li>
						</ul>
						</div>
					</div>
					<div class="row">
					<div class="col-sm-12 col-md-8 has-feedback">
						<fieldset>
							<legend th:text="${itemType.description}">Permit</legend>
							<th:block th:switch="${itemType.name()}">
							  <div th:case="'PERMIT'">
							     <!--/*/ <th:block th:include="/item/permit/fragments :: show"></th:block> /*/-->
							  </div>
							  <div th:case="'AIR_FREIGHT'">
							     <!--/*/ <th:block th:include="/item/airfreight/fragments :: show"></th:block> /*/-->
							  </div>
							  <div th:case="'SEA_FREIGHT'">
							     <!--/*/ <th:block th:include="/item/seafreight/fragments :: show"></th:block> /*/-->
							  </div>
							  <div th:case="'TRUCKING'">
							     <!--/*/ <th:block th:include="/item/trucking/fragments :: show"></th:block> /*/-->
							  </div>
							  <div th:case="'ADDITIONAL'">
							     <!--/*/ <th:block th:include="/item/additional/fragments :: show"></th:block> /*/-->
							  </div>
							
							</th:block>
							
							<div class="row">
								<div class="col-sm-12 col-md-12 has-feedback">
									<h6>Description</h6> <span class="text-right" th:text="${item.description}"></span>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 col-md-12 has-feedback">
								<h6>Legal Notes</h6> 
								<ul class="list-inline">
									<li th:each="legalNote : ${item.legalNotes}" class="label label-default" >
										<span th:text="${legalNote.name}" th:title="${legalNote.description}"></span> | 
										<a th:href="@{/item/{itemTypeId}/{id}/legalnotes/{legalNoteId}/remove(itemTypeId=${itemType.ordinal()},id=${item.id},legalNoteId=${legalNote.id})}">X</a>
									</li>
								</ul>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 col-md-12 has-feedback">
								<h6>Product Feature</h6> 
								<ul class="list-inline">
									<li th:each="productFeature : ${item.productFeatures}" class="label label-default" >
										<span th:text="${productFeature.name}" th:title="${productFeature.description}"></span> | 
										<a th:href="@{/item/{itemTypeId}/{id}/productfeatures/{productFeatureId}/remove(itemTypeId=${itemType.ordinal()},id=${item.id},productFeatureId=${productFeature.id})}">X</a>
									</li>
								</ul>
								</div>
							</div>
						</fieldset>
					</div>
					<div class="col-sm-12 col-md-4 has-feedback">
						<!--/*/ <th:block th:include="/item/action :: action(${itemType.ordinal()})"></th:block> /*/-->
					</div>
					</div>
				</div>
				<div class="well">
					<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-6 has-feedback">
							<!--/*/ <th:block th:include="/purchasing/price/fragments :: purchasePriceTable(${item})"></th:block> /*/-->
						</div>
						<div class="col-sm-12 col-md-12 col-lg-6 has-feedback">
							<!--/*/ <th:block th:include="/purchasing/price/fragments :: purchasePriceStatistics"></th:block> /*/-->
						</div>
					</div>
				</div>
				<div class="well">
					<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-6 has-feedback">
							<!--/*/ <th:block th:include="/sale/price/fragments :: minimumPriceTable(${item})"></th:block> /*/-->
						</div>
						<div class="col-sm-12 col-md-12 col-lg-6 has-feedback">
						</div>
					</div>
				</div>
			</section>
			</div>
			<!-- END #MAIN CONTENT -->
			
			<div class="modal fade" id="legalNoteModal" tabindex="-1" role="dialog" aria-labelledby="legalNoteLabel" aria-hidden="true">
				<div class="modal-dialog">
					<form id="legalNoteForm" method="post" th:action="@{/item/{itemTypeId}/{id}/legalnotes(itemTypeId=${itemType.ordinal()}, id=${item.id})}" class="bv-form">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="rejectModalLabel">Add Legal Note</h4>
						</div>
						<div class="modal-body">
			
							<div class="row">
								<div class="col-md-12">
									<div class="col-sm-12 col-md-12 has-feedback">
						            	<div th:include="/master/legalnote/_controls :: legalNotesNoObject" th:with="fieldLabel='Legal Note', fieldName='legalNote'" th:remove="tag"></div>
						        	</div>
								</div>
							</div>
							
			
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">
								Cancel
							</button>
							<button type="submit" class="btn btn-primary">
								<span><i class="fa fa-fw fa-plus"></i> Add</span>
							</button>
						</div>
					</div><!-- /.modal-content -->
					</form>
				</div><!-- /.modal-dialog -->
			</div>
			
			<div class="modal fade" id="productFeatureModal" tabindex="-1" role="dialog" aria-labelledby="productFeatureLabel" aria-hidden="true">
				<div class="modal-dialog">
					<form id="productFeatureForm" method="post" th:action="@{/item/{itemTypeId}/{id}/productfeatures(itemTypeId=${itemType.ordinal()}, id=${item.id})}" class="bv-form">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="rejectModalLabel">Add Product Feature</h4>
						</div>
						<div class="modal-body">
			
							<div class="row">
								<div class="col-md-12">
									<div class="col-sm-12 col-md-12 has-feedback">
						            	<div th:include="/master/productFeature/_controls :: productFeaturesNoObject" th:with="fieldLabel='Product Feature', fieldName='productFeature'" th:remove="tag"></div>
						        	</div>
								</div>
							</div>
							
			
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">
								Cancel
							</button>
							<button type="submit" class="btn btn-primary">
								<span><i class="fa fa-fw fa-plus"></i> Add</span>
							</button>
						</div>
					</div><!-- /.modal-content -->
					</form>
				</div><!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
		</div>
		<!-- END #MAIN PANEL -->

    	<!--/*/ <th:block th:include="fragments/include_footer :: footer"></th:block> /*/-->
		


		<!--================================================== -->

		<!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)
		<script data-pace-options='{ "restartOnRequestAfter": true }' src="js/plugin/pace/pace.min.js"></script>-->


		<!--/*/ <th:block th:include="fragments/include_plugin :: plugin"></th:block> /*/-->
		<script th:src="@{/js/plugin/select2/select2.min.js}" src="js/plugin/select2/select2.min.js"></script>
		<script th:inline="javascript">
			$(document).ready(function() {
			    $('#legalNote').select2();
			    $('#productFeature').select2();
			});
		</script> 

	</body>

</html>