<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="action()">
		<div>
			<h1 class="text-center txt-color-blueDark">Actions</h1>
			<div class="row">
				<div class="col-sm-12 col-md-12 has-feedback">
					<a class="btn btn-lg btn-block btn-default text-left" th:href="@{/item/truckings/}+${itemTrucking.id +'/edit'}"><i class="fa fa-edit"></i> Edit</a>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-md-12 has-feedback">
					<a class="btn btn-lg btn-block btn-success text-left" th:href="@{/item/truckings/}+${itemTrucking.id +'/purchase'}"><i class="fa fa-shopping-cart"></i> Purchase Price</a>
				</div>
			</div>
				
		</div>
	</div>
</body>
</html>