<!DOCTYPE html>
<html lang="en-us">
	<head>
		<title> Quotations </title>
    	<!--/*/ <th:block th:include="fragments/include_header :: head"></th:block> /*/-->
	</head>

	
	<body class="">


		<!--/*/ <th:block th:include="fragments/include_heading :: heading"></th:block> /*/-->

    	<!--/*/ <th:block th:include="fragments/include_navigation :: navigation"></th:block> /*/-->
		
		<!-- #MAIN PANEL -->
		<div id="main" role="main">

			<!-- RIBBON -->
			<div id="ribbon">

				<!-- breadcrumb -->
				<ol class="breadcrumb">
					<li>Sale</li>
					<li><a th:href="@{/quotations}" href="#">Quotations</a></li>
					<li th:text="${quotation.reference}">Reference</li>
				</ol>
				<!-- end breadcrumb -->
				
				<span class="ribbon-button-alignment pull-right" style="margin-right:25px">
					<a href="javascript:history.back()" id="backbtn" class="btn btn-ribbon hidden-xs">
						<span id="back" class="btn btn-ribbon hidden-xs"><i class="fa fa-arrow-left"></i> Back</span>
					</a>
				</span>
			</div>
			<!-- END RIBBON -->

			<!-- #MAIN CONTENT -->
			<div id="content">
			<section id="widget-grid" class="">
				<div class="well">
					<div class="row">
					<div class="col-sm-12 col-md-8 has-feedback">
						<fieldset>
							<legend>Quotation</legend>
							<div class="row">
								<div class="col-sm-12 col-md-12 has-feedback">
									<h6>Reference</h6> <span class="text-right" th:text="${quotation.reference}"></span>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 col-md-12 has-feedback">
									<h6>Customer</h6> <span class="text-right" th:text="${quotation.customer.name}"></span>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 col-md-12 has-feedback">
									<span class="text-right" th:text="${quotation.customer.correspondenceAddress}"></span>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 col-md-12 has-feedback">
									<h6>Quote Date</h6> <span class="text-right" th:text="${quotation.quoteDate}"></span>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 col-md-12 has-feedback">
									<h6>Expiry Date</h6> <span class="text-right" th:text="${quotation.expiryDate}"></span>
								</div>
							</div>
							
						</fieldset>
					</div>
					<div class="col-sm-12 col-md-4 has-feedback">
						<div th:include="/sale/quotation/_controls :: actions" th:remove="tag"></div>
					</div>
					</div>
					<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-12 has-feedback">
					<table class="table table-striped">
						<thead>
						<tr th:with="currentURL=(${#httpServletRequest.requestURI})">
				<!-- 			<tr th:with="currentURL=(${#httpServletRequest.requestURI})"> -->
				<!-- 				<th th:include="/forms/table :: sortable ('Reference', 'reference', ${quotations})"> </th> -->
				<!-- 				<th th:include="/forms/table :: sortable ('Customer', 'customer.name', ${quotations})"> </th> -->
				<!-- 				<th th:include="/forms/table :: sortable ('Quotation Date', 'quoteDate', ${quotations})"> </th> -->
				<!-- 				<th th:include="/forms/table :: sortable ('Expiry Date', 'expiryDate', ${quotations})"> </th> -->
				<!-- 			</tr> -->
						</tr>
						</thead>
						<tbody>
							<tr th:each="item : ${quotation.quotationLineItems}">
								<div th:if="${(item.type ==  T(com.ptff.qsystem.data.QuotationProductType).PERMIT)}" th:remove="tag">
									<td th:text="${item.permit.name}"></td>	
								</div>
								
							</tr>
						</tbody>
						</table>
					
					</div>
					</div>
				</div>
			</section>
			</div>
			<!-- END #MAIN CONTENT -->

		</div>
		<!-- END #MAIN PANEL -->

    	<!--/*/ <th:block th:include="fragments/include_footer :: footer"></th:block> /*/-->
		


		<!--================================================== -->

		<!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)
		<script data-pace-options='{ "restartOnRequestAfter": true }' src="js/plugin/pace/pace.min.js"></script>-->


		<!--/*/ <th:block th:include="fragments/include_plugin :: plugin"></th:block> /*/-->


	</body>

</html>