<!DOCTYPE html>
<html lang="en-us">
	<head>
		<title> Quotations </title>
    	<!--/*/ <th:block th:include="fragments/include_header :: head"></th:block> /*/-->
	</head>

	
	<body class="">


		<!--/*/ <th:block th:include="fragments/include_heading :: heading"></th:block> /*/-->

    	<!--/*/ <th:block th:include="fragments/include_navigation :: navigation"></th:block> /*/-->
		
		<!-- #MAIN PANEL -->
		<div id="main" role="main">

			<!-- RIBBON -->
			<div id="ribbon">

				<!-- breadcrumb -->
				<ol class="breadcrumb">
					<li>Sale</li>
					<li><a th:href="@{/quotations}" href="#">Quotations</a></li>
					<li th:text="${quotation.reference}">Reference</li>
				</ol>
				<!-- end breadcrumb -->
				
				<span class="ribbon-button-alignment pull-right" style="margin-right:25px">
					<a href="javascript:history.back()" id="backbtn" class="btn btn-ribbon hidden-xs">
						<span id="back" class="btn btn-ribbon hidden-xs"><i class="fa fa-arrow-left"></i> Back</span>
					</a>
				</span>
			</div>
			<!-- END RIBBON -->

			<!-- #MAIN CONTENT -->
			<div id="content">
			<section id="widget-grid" class="">
				<div class="well">
					<div class="row">
					<div class="col-sm-12 col-md-8 has-feedback">
						<fieldset>
							<legend>Quotation</legend>
							<div class="row">
								<div class="col-sm-12 col-md-12 has-feedback">
									<h6>Reference</h6> <span class="text-right" th:text="${quotation.reference}"></span>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 col-md-12 has-feedback">
									<h6>Customer</h6> <span class="text-right" th:text="${quotation.customer.name}"></span>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 col-md-12 has-feedback">
									<span class="text-right font-xs" style="white-space: pre-wrap;"  th:text="${quotation.customer.correspondenceAddress}"></span>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 col-md-12 has-feedback">
									<h6>Quote Date</h6> <span class="text-right" th:text="${quotation.quoteDate}"></span>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 col-md-12 has-feedback">
									<h6>Expiry Date</h6> <span class="text-right" th:text="${quotation.expiryDate}"></span>
								</div>
							</div>
							
						</fieldset>
					</div>
					<div class="col-sm-12 col-md-4 has-feedback">
						<div th:include="/sale/quotation/_controls :: actions" th:remove="tag"></div>
					</div>
					</div>
					</div>
					<div class="well">
					<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-12 has-feedback">
					
					<form id="quotePrice" method="post" novalidate="novalidate" th:object="${quotation}" th:action="@{/quotations/{quotationId}(quotationId=${quotation.id})}" class="bv-form">
					<input type="hidden" th:field="*{id}"/>
					<table class="table table-hover">
						<thead>
						<tr>
							<th>Name</th>
							<th>Tier</th>
							<th class="hidden-xs">Minimum Price</th>
							<th>Quoted Price</th>
							<th></th>
						</tr>
						<tr>
							<th>Name</th>
						</tr>
						</thead>
						<tbody>
							<th:block th:each="lineItem, stat : ${quotation.quotationLineItems}">
							<tr>
								<td>
									<input type="hidden" th:field="*{quotationLineItems[__${stat.index}__].item.id}"/>
									<input type="hidden" th:field="*{quotationLineItems[__${stat.index}__].quotation.id}"/>
									<input type="hidden" th:field="*{quotationLineItems[__${stat.index}__].id}"/>
									<span th:text="${lineItem.item.name}"></span><br/>
									<span class="font-xs" th:text="${lineItem.item.description}"></span>
								</td>
							</tr>
							<tr>
								<td>
									<ul class="list-unstyled">
										<li th:each="pricingTier: ${lineItem.item.activeMinimumPrice.pricingTiers}">
											<span class="font-lg" th:text="${pricingTier.tier}"></span>
										</li>
									</ul>
								</td>
								<td class="hidden-xs">
									<ul class="list-unstyled">
										<li th:each="pricingTier: ${lineItem.item.activeMinimumPrice.pricingTiers}">
											<span class="font-lg" th:text="${pricingTier.price}"></span>
										</li>
									</ul>
								</td>
								<td>
									<ul class="list-unstyled">
										<li  th:each="pricingTier, pricingTierStat: ${lineItem.item.activeMinimumPrice.pricingTiers}">
											<input type="hidden" th:field="*{quotationLineItems[__${stat.index}__].pricingTiers[__${pricingTierStat.index}__].id}"/>
											<div class="input-group">
												<span class="input-group-addon">Rp.	</span>
												<input class="form-control" placeholder="Price" th:field="*{quotationLineItems[__${stat.index}__].pricingTiers[__${pricingTierStat.index}__].price}"/>
											</div>
										</li>
									</ul>
								</td>
								<td><a th:href="@{/quotations/{id}/line/{lineId}/remove(id=${quotation.id}, lineId=${lineItem.id})}">
									<span class="txt-color-red"><i class="fa fa-fw fa-times"></i></span></a></td>
							</tr>
							</th:block>
						</tbody>
					</table>
					<button type="submit" name="finalise" th:value="finalise" class="pull-right btn btn-success"><i class="fa fa-fw fa-save"></i> Finalise</button>
					</form>
					</div>
					</div>
				</div>
			</section>
			</div>
			<!-- END #MAIN CONTENT -->

		</div>
		<!-- END #MAIN PANEL -->

    	<!--/*/ <th:block th:include="fragments/include_footer :: footer"></th:block> /*/-->
		


		<!--================================================== -->

		<!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)
		<script data-pace-options='{ "restartOnRequestAfter": true }' src="js/plugin/pace/pace.min.js"></script>-->


		<!--/*/ <th:block th:include="fragments/include_plugin :: plugin"></th:block> /*/-->


	</body>

</html>