<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="form(formAction)">
		<form id="itemPriceForm" method="post" novalidate="novalidate" th:object="${itemMinimum}" th:action="${formAction}" class="bv-form">
			
			<!--/*/ <th:block th:include="forms/controls :: globalError"></th:block> /*/-->
		
			<fieldset>
				<legend><span th:text="${itemType}"></span> - Minimum Price</legend>
				<input type="hidden" th:field="*{id}" />
				<input type="hidden" th:field="*{item.id}" />
		
				<div class="row">
					<div class="col-sm-12 col-md-6 has-feedback">
						<div class="form-group">
							<div th:include="forms/controls :: input" th:with="fieldType='date', fieldLabel='Start Date', fieldName='quoteDate'" th:remove="tag"></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-6 has-feedback">
						<div class="form-group">
							<div th:include="forms/controls :: input" th:with="fieldType='date', fieldLabel='Review Date', fieldName='reviewDate'" th:remove="tag"></div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-12 col-md-12 has-feedback">
						<h6>Pricing Tiers <button  name="addNewTier" th:value="addNewTier" class="pull-right btn btn-primary"><i class="fa fa-fw fa-plus"></i> Add Tier</button></h6>
					</div>
				</div>
				<div class="row" th:each="pricingTier, stat : *{pricingTiers}">
					<input type="hidden" th:field="*{pricingTiers[__${stat.index}__].id}" />
					<input type="hidden" th:field="*{pricingTiers[__${stat.index}__].itemMinimum.id}" />
					<div class="col-sm-3 col-md-3 has-feedback" >
						<div class="form-group">
							<input th:if="${stat.size !=1}" type="number" class="form-control" placeholder="Lower Limit" th:field="*{pricingTiers[__${stat.index}__].lowerLimit}"/>
							<span th:if="${stat.size ==1}" class="text-center">ALL</span>
						</div>
					</div>
					<div class="col-sm-3 col-md-3 has-feedback">
						<div class="form-group">
							<input th:unless="${stat.size ==1 || stat.last}" type="number"  class="form-control" placeholder="Upper Limit" th:field="*{pricingTiers[__${stat.index}__].upperLimit}"/>
							<span th:if="${stat.size ==1 || stat.last}" class="text-center">ALL</span>
						</div>
					</div>	
					<div class="col-sm-3 col-md-4 has-feedback">
						<div class="input-group">
							<span class="input-group-addon">
								Rp.
							</span>
							<input class="form-control" placeholder="Price" th:field="*{pricingTiers[__${stat.index}__].price}"/>
						</div>
					</div>
					<div class="col-sm-1 col-md-1 has-feedback">
						<button type="submit"  th:unless="${stat.size ==1}" class="btn btn-default" th:name="removeTier" th:value="${stat.index}"><i class="fa fa-fw fa-times"></i></button>
					</div>		
				</div>			
			</fieldset>
			<div class="form-actions">
				<div class="row">
					<div class="col-md-12">
						<button class="btn btn-default" type="submit">
							<i class="fa fa-save"></i> Save
						</button>
					</div>
				</div>
			</div>

		</form>
	</div>
</body>
</html>