<div th:remove="tag" xmlns:th="http://www.thymeleaf.org">
    
    <div th:fragment="minimumPriceTable(item)" th:remove="tag">
    	<h3>Minimum Sale Price</h3>
    	<table class="table table-striped">
			<thead>
				<tr>
					<th colspan="3">Price(s)</th>
					<th>Valid Through</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:if="${item.activeMinimumPrice != null}">
					<tr th:each="pricingTier, pricingTierStat : ${item.activeMinimumPrice.pricingTiers}">
						<td class="text-center" th:if="${(pricingTier.lowerLimit == null and pricingTier.upperLimit == null)}" colspan="2">
							ALL
						</td>
						<td class="text-center" th:if="${(pricingTier.lowerLimit != null)}" th:text="${pricingTier.lowerLimit}">
							ALL
						</td>
						<td class="text-center" th:if="${(pricingTier.upperLimit != null)}" th:text="${pricingTier.upperLimit}">
							ALL
						</td>
						<td class="text-center" th:if="${(pricingTier.upperLimit == null and pricingTier.lowerLimit  != null)}">
							ALL
						</td>
						<td class="text-right" th:text="${'Rp. ' + #numbers.formatDecimal(pricingTier.price, 0, 'COMMA', 0, 'POINT')}">
						
						</td>
						<td class="text-right" > 
							<span th:if="${pricingTierStat.first}" th:text="${#temporals.format(item.activeMinimumPrice.reviewDate, 'dd/MM/yyyy')}"> </span>
						</td>
				</tr>
				</th:block>
			</tbody>
		</table>
    </div>
    
    <div th:fragment="salePriceStatistics" th:remove="tag">
    	<h3>Statistics</h3>
    	<div class="well well-sm">
    		<span class="font-md text-left">Average Price</span><br/>
<!--     		<span class="font-lg text-right" th:text="${#numbers.formatDecimal(averageSell, 0, 'COMMA', 0, 'POINT')}"></span> -->
    	</div>
    	<div class="well well-sm" th:if="${minItem != null}">
    		<span class="font-md text-left">Minimum Sell Price</span><br/>
<!--     		<span class="font-lg text-right" th:text="${#numbers.formatDecimal(minItem.price, 0, 'COMMA', 0, 'POINT')}"></span><br/> -->
    		<span class="font-lg text-right"> <a th:href="@{/vendors/{vendorId}(vendorId=${minItem.vendor.id})}" th:text="${minItem.vendor.name}"></a></span><br/>
    	</div>
    </div>
</div>