<!DOCTYPE html>
<html lang="en-us">
	<head>
		<title> Customers </title>
    	<!--/*/ <th:block th:include="fragments/include_header :: head"></th:block> /*/-->
	</head>

	
	<body class="">


		<!--/*/ <th:block th:include="fragments/include_heading :: heading"></th:block> /*/-->

    	<!--/*/ <th:block th:include="fragments/include_navigation :: navigation"></th:block> /*/-->
		
		<!-- #MAIN PANEL -->
		<div id="main" role="main">

			<!-- RIBBON -->
			<div id="ribbon">

				<!-- breadcrumb -->
				<ol class="breadcrumb">
					<li>Sale</li>
					<li><a th:href="@{/customers}" href="#">Customers</a></li>
					<li th:text="${customer.name}">Customer Name</li>
				</ol>
				<!-- end breadcrumb -->
				
				<span class="ribbon-button-alignment pull-right" style="margin-right:25px">
					<a href="javascript:history.back()" id="backbtn" class="btn btn-ribbon hidden-xs">
						<span id="back" class="btn btn-ribbon hidden-xs"><i class="fa fa-arrow-left"></i> Back</span>
					</a>
				</span>
			</div>
			<!-- END RIBBON -->

			<!-- #MAIN CONTENT -->
			<div id="content">
			<section id="widget-grid" class="">
				<div class="well">
					<div th:if="${errors}" >
						<div class="alert alert-danger">
						<ul>
							<li th:each="error : ${errors}" th:text="${error}"></li>
						</ul>
						</div>
					</div>
					<div class="row">
					<div class="col-sm-12 col-md-8 has-feedback">
						<div th:if="${not #strings.isEmpty(customer.rejectReason)}" >
							<div class="alert alert-danger">
							<h6>Rejected:</h6>
							<span th:text="${customer.rejectReason}"></span>
							</div>
						</div>
						<fieldset>
							<legend>Customer<span class="pull-right txt-color-green" th:text="${customer.salesperson.fullName}"></span></legend>
							<div class="row">
								<div class="col-sm-12 col-md-12 has-feedback">
									<h6>Name</h6> <span class="text-right" th:text="${customer.name}"></span>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 col-md-12 has-feedback">
									<h6>Correspondence Address</h6> <span class="text-right" style="white-space: pre-wrap;" th:text="${customer.correspondenceAddress}"></span>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 col-md-12 has-feedback">
									<h6>Telephone</h6> <span class="text-right" th:text="${customer.telephone}"></span>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 col-md-12 has-feedback">
									<h6>NPWP</h6> <span class="text-right" th:text="${customer.npwp}"></span>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 col-md-12 has-feedback">
									<h6>NPWP Address</h6> <span class="text-right"  style="white-space: pre-wrap;" th:text="${customer.npwpAddress}"></span>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 col-md-6 has-feedback">
									<h6>Operation Notes</h6> <span class="text-right" style="white-space: pre-wrap;" th:text="${customer.operationNotes}"></span>
								</div>
								<div class="col-sm-12 col-md-6 has-feedback">
									<h6>Finance Notes</h6> <span class="text-right" style="white-space: pre-wrap;" th:text="${customer.financeNotes}"></span>
								</div>
							</div>
							
							<div class="row">
								<div class="col-sm-12 col-md-12 has-feedback">
									<h6>Credit Limit</h6> <span class="text-right" th:text="${#numbers.formatDecimal(customer.creditLimit, 3,'COMMA', 0, 'POINT')}"></span>
								</div>
							</div>
						</fieldset>
					</div>
					<div class="col-sm-12 col-md-4 has-feedback">
						<div th:if="${(customer.status == T(com.ptff.qsystem.data.CustomerStatus).DRAFT)}" class="well well-sm bg-color-grey txt-color-black text-center">
							<h5 th:text="${customer.status}"></h5>
						</div>
						<div th:if="${(customer.status == T(com.ptff.qsystem.data.CustomerStatus).AWAITING_APPROVAL)}" class="well well-sm bg-color-grey txt-color-black text-center">
							<h5 th:text="${customer.status}"></h5>
						</div>
						<div th:if="${(customer.status == T(com.ptff.qsystem.data.CustomerStatus).ACTIVE)}" class="well well-sm bg-color-blue txt-color-white text-center">
							<h5 th:text="${customer.status}"></h5>
						</div>
						<div th:if="${(customer.status == T(com.ptff.qsystem.data.CustomerStatus).REJECT)}" class="well well-sm bg-color-red txt-color-white text-center">
							<h5 th:text="${customer.status}"></h5>
						</div>
						<div th:if="${(customer.status == T(com.ptff.qsystem.data.CustomerStatus).INACTIVE)}" class="well well-sm bg-color-green txt-color-white text-center">
							<h5 th:text="${customer.status}"></h5>
						</div>
						<h1 class="text-center txt-color-blueDark">Actions</h1>
						<div th:if="${(customer.status == T(com.ptff.qsystem.data.CustomerStatus).DRAFT)}">
							<div class="row">
								<div class="col-sm-12 col-md-12 has-feedback">
									<a class="btn btn-lg btn-block btn-default text-left" th:href="@{/customers/}+${customer.id +'/edit'}"><i class="fa fa-edit"></i> Edit</a>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 col-md-12 has-feedback">
									<a class="btn btn-lg btn-block btn-default text-left" th:href="@{/customers/}+${customer.id +'/contact'}"><i class="fa fa-plus"></i> Add PIC</a>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 col-md-12 has-feedback">
									<a class="btn btn-lg btn-block btn-default text-left" th:href="@{/customers/}+${customer.id +'/document'}"><i class="fa fa-paperclip"></i> Add Document</a>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 col-md-12 has-feedback">
									<a class="btn btn-lg btn-block btn-success text-left" th:href="@{/customers/}+${customer.id +'/submit'}"><i class="fa fa-check"></i> Submit</a>
								</div>
							</div>
						</div>
						<div th:if="${(customer.status == T(com.ptff.qsystem.data.CustomerStatus).AWAITING_APPROVAL)}" class="row">
							<div class="row" sec:authorize="hasAnyRole('ROLE_SALESPERSON', 'ROLE_SALESDIRECTOR', 'ROLE_SU')">
								<div class="col-sm-12 col-md-12 has-feedback">
									<a class="btn btn-lg btn-block btn-default text-left" th:href="@{/customers/}+${customer.id +'/edit'}"><i class="fa fa-edit"></i> Edit</a>
								</div>
							</div>
							<div class="row" sec:authorize="hasAnyRole('ROLE_SALESPERSON', 'ROLE_SALESDIRECTOR', 'ROLE_SU')">
								<div class="col-sm-12 col-md-12 has-feedback">
									<a class="btn btn-lg btn-block btn-default text-left" th:href="@{/customers/}+${customer.id +'/contact'}"><i class="fa fa-plus"></i> Add PIC</a>
								</div>
							</div>
							<div class="row" sec:authorize="hasAnyRole('ROLE_SALESPERSON', 'ROLE_SALESDIRECTOR', 'ROLE_SU')">
								<div class="col-sm-12 col-md-12 has-feedback">
									<a class="btn btn-lg btn-block btn-default text-left" th:href="@{/customers/}+${customer.id +'/document'}"><i class="fa fa-paperclip"></i> Add Document</a>
								</div>
							</div>
							<div class="row" sec:authorize="hasAnyRole('ROLE_SALESDIRECTOR', 'ROLE_SU')">
								<div class="col-sm-12 col-md-12 has-feedback">
									<a class="btn btn-lg btn-block btn-success text-left" th:href="@{/customers/}+${customer.id +'/approve'}"><i class="fa fa-check"></i> Approve</a>
								</div>
							</div>
							<div class="row" sec:authorize="hasAnyRole('ROLE_SALESDIRECTOR', 'ROLE_SU')">
								<div class="col-sm-12 col-md-12 has-feedback">
<!-- 								<a class="btn btn-lg btn-block btn-danger text-left"da th:href="@{/customers/}+${customer.id +'/reject'}"><i class="fa fa-times"></i> Reject</a> -->
									<a class="btn btn-lg btn-block btn-danger text-left" data-toggle="modal" data-target="#rejectModal"><i class="fa fa-times"></i> Reject</a>
								</div>
							</div>
						</div>
						<div th:if="${(customer.status == T(com.ptff.qsystem.data.CustomerStatus).ACTIVE)}" class="row">
							<div class="row">
								<div class="col-sm-12 col-md-12 has-feedback">
									<a class="btn btn-lg btn-block btn-default text-left" th:href="@{/customers/}+${customer.id +'/edit'}"><i class="fa fa-edit"></i> Edit</a>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 col-md-12 has-feedback">
									<a class="btn btn-lg btn-block btn-default text-left" th:href="@{/customers/}+${customer.id +'/contact'}"><i class="fa fa-plus"></i> Add PIC</a>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 col-md-12 has-feedback">
									<a class="btn btn-lg btn-block btn-default text-left" th:href="@{/customers/}+${customer.id +'/document'}"><i class="fa fa-paperclip"></i> Add Document</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				</div>
				<div class="well">
					<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-6 has-feedback">
							<h6>Operation PIC</h6>
								<table class="table table-striped">
								<thead>
								<tr>
									<th>Name</th>
									<th>Position</th>
									<th>Telephone</th>
									<th>Email</th>
								</tr>
								</thead>
								<tbody>
									<tr th:each="pic : ${operationPics}">
										<td><a th:href="@{/customers/{customerId}/contact/{id}(customerId=${customer.id}, id=${pic.id})}" href="#" th:text="${pic.fullName}"></a></td>
										<td th:text="${pic.position}"></td>
										<td>
											<span th:text="${'P: ' +pic.telephone}"></span>
											<br/>
											<span th:text="${'M: ' +pic.mobile}"></span>
											
										</td>
										<td> <a th:href="'mailto:' + ${pic.email}" th:text="${pic.email}"></a></td>
									</tr>
								</tbody>
								</table>
						</div>
						<div class="col-sm-12 col-md-12 col-lg-6 has-feedback">
						<h6>Finance PIC</h6>
							<table class="table table-striped">
							<thead>
							<tr>
								<th>Name</th>
								<th>Position</th>
								<th>Telephone</th>
								<th>Email</th>
							</tr>
							</thead>
							<tbody>
								<tr th:each="pic : ${financePics}">
									<td> <a th:href="@{/customers/{customerId}/contact/{id}(customerId=${customer.id}, id=${pic.id})}" href="#" th:text="${pic.fullName}"></a></td>
									<td th:text="${pic.position}"></td>
									<td>
										<span th:text="${'P: ' +pic.telephone}"></span>
										<br/>
										<span th:text="${'M: ' +pic.mobile}"></span>
										
									</td>
									<td> <a th:href="'mailto:' + ${pic.email}" th:text="${pic.email}"></a></td>
								</tr>
							</tbody>
							</table>
							</div>
					</div>
				</div>
				<div class="well">
					<ul class="nav nav-tabs">
						<li class="active">
							<a href="#tab-document" data-toggle="tab" aria-expanded="false">Documents</a>
						</li>
						<li class="">
							<a href="#tab-history" data-toggle="tab" aria-expanded="true">History</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="tab-document">
							<h6>Documents</h6>
							<table class="table table-striped">
							<thead>
							<tr>
								<th>Document Type</th>
								<th>Document Number</th>
								<th>Start Date</th>
								<th>Expiry Date</th>
								<th>Status</th>
								<th></th>
							</tr>
							</thead>
							<tbody>
								<tr th:each="document : ${customerdocuments}">
									<td><a th:href="@{/customers/{customerId}/document/{id}(customerId=${customer.id}, id=${document.id})}" href="#" th:text="${document.documentType.name}"></a></td>
									<td th:text="${document.number}"></td>
									<td th:text="${document.startDate}"></td>
									<td th:text="${document.expiryDate}"></td>
									<td>
										<span th:if="${document.status == 'Active'}" class="label label-success">Active</span>
										<span th:if="${document.status == 'Expired'}" class="label label-danger">Expired</span>
										<span th:if="${document.status == 'Expiring'}" class="label label-warning">Expiring</span>
									</td>
									<td>
										
									</td>
								</tr>
							</tbody>
							</table>
						</div>
						<div class="tab-pane" id="tab-history">
							<h6>History</h6>
							<table class="table table-striped">
							<thead>
							<tr>
								<th>Time</th>
								<th>Description</th>
								<th>Username</th>
							</tr>
							</thead>
							<tbody>
								<tr th:each="history : ${customerhistories}">
									<td th:text="${#temporals.format(history.createTime, 'dd/MMM/yyyy HH:mm:ss')}"></td>
									<td th:text="${history.message}"></td>
									<td th:text="${history.createUser}"></td>
								</tr>
							</tbody>
							</table>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 col-md-12 col-lg-12 has-feedback">
							
						</div>
					</div>
				</div>
			</section>
			</div>
			<!-- END #MAIN CONTENT -->

			<div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<form id="rejectForm" method="post" th:action="@{/customers/{id}/reject(id=${customer.id})}" class="bv-form">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="rejectModalLabel">Reject Reason</h4>
						</div>
						<div class="modal-body">
			
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<textarea name="rejectReason" class="form-control" placeholder="Reject Reason" rows="5" required="required"> </textarea>
									</div>
								</div>
							</div>
							
			
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">
								Cancel
							</button>
							<button type="submit" class="btn btn-danger">
								Reject
							</button>
						</div>
					</div><!-- /.modal-content -->
					</form>
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->

		</div>
		<!-- END #MAIN PANEL -->

    	<!--/*/ <th:block th:include="fragments/include_footer :: footer"></th:block> /*/-->
		


		<!--================================================== -->

		<!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)
		<script data-pace-options='{ "restartOnRequestAfter": true }' src="js/plugin/pace/pace.min.js"></script>-->


		<!--/*/ <th:block th:include="fragments/include_plugin :: plugin"></th:block> /*/-->


	</body>

</html>