<div th:remove="tag" xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="notifications" th:remove="tag">
	<ul class="notification-body">
		<li th:each="notification : ${notifications}">
			<span class="padding-10 " th:classappend="${#bools.isTrue((notification.status==T(com.ptff.qsystem.data.NotificationStatus).UNREAD))} ? 'unread' : ''">
	
				<em th:if="${notification.category == T(com.ptff.qsystem.data.NotificationCategory).CUSTOMER}" class="badge padding-5 no-border-radius bg-color-blueLight pull-left margin-right-5">
					<i class="fa fa-user fa-fw fa-2x"></i>
				</em>
				<em th:if="${notification.category == T(com.ptff.qsystem.data.NotificationCategory).VENDOR}" class="badge padding-5 no-border-radius bg-color-blueLight pull-left margin-right-5">
					<i class="fa fa-truck fa-fw fa-2x"></i>
				</em>
				<em th:if="${notification.category == T(com.ptff.qsystem.data.NotificationCategory).BROADCAST}" class="badge padding-5 no-border-radius bg-color-blueLight pull-left margin-right-5">
					<i class="fa fa-comment fa-fw fa-2x"></i>
				</em>
				<em th:if="${notification.category == T(com.ptff.qsystem.data.NotificationCategory).ITEM}" class="badge padding-5 no-border-radius bg-color-blueLight pull-left margin-right-5">
					<i class="fa fa-cubes fa-fw fa-2x"></i>
				</em>
				<em th:if="${notification.category == T(com.ptff.qsystem.data.NotificationCategory).QUOTATION}" class="badge padding-5 no-border-radius bg-color-blueLight pull-left margin-right-5">
					<i class="fa fa-table fa-fw fa-2x"></i>
				</em>
				
				<span>
					 <strong><a href="javascript:void(0);" class="display-normal" th:text="${notification.category}">Sofia</a></strong>
					 <span class="pull-right font-xs text-muted"><i>X hrs ago...</i></span>
					 <br/>
					 <span th:text="${notification.message}">Message</span>
<!-- 					 <a th:if="${notification.status==T(com.ptff.qsystem.data.NotificationStatus).UNREAD}" href="#" th:href="@{notificatons/{notificationId}/read(notificationId=${notification.id})}" ><button class="btn btn-xs btn-primary margin-top-5 pull-right">Accept</button><br/></a> -->
				</span>
				
			</span>
		</li>
	</ul>
	</div>

	<div th:fragment="emptyNotifications" th:remove="tag">
		<div class="alert alert-transparent">
			<h4>No New Notifications</h4>
			You have actioned all your tasks...<br/> 
			Well Done !!!
		</div>
	
		<i class="fa fa-check fa-4x fa-border"></i>
	
	</div>
</div>