<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:fragment="navigation">
		<!-- #NAVIGATION -->
		<!-- Left panel : Navigation area -->
		<!-- Note: This width of the aside area can be adjusted through LESS/SASS variables -->
		<aside id="left-panel" >

			<!-- User info -->
			<div class="login-info">
				<span> <!-- User image size is adjusted inside CSS, it should stay as is --> 
					
					
				</span>
			</div>
			<!-- end user info -->

			<!-- NAVIGATION : This navigation is also responsive

			To make this navigation dynamic please make sure to link the node
			(the reference to the nav > ul) after page load. Or the navigation
			will not initialize.
			-->
			<nav>
				<!-- 
				NOTE: Notice the gaps after each icon usage <i></i>..
				Please note that these links work a bit different than
				traditional href="" links. See documentation for details.
				-->

				<ul>
				
					<li class="">
						<a href="index.html" th:href="@{/}" title="blank_"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>
					</li>
					<li>
						<a href="#" title="blank_">
							<i class="fa fa-lg fa-fw fa-database"></i> <span class="menu-item-parent">Master Data</span>
						</a>
						<ul>
							<li>
								<a sec:authorize="hasAnyRole('ROLE_ADMINISTRATOR', 'ROLE_PURCHASING', 'ROLE_PURCHASINGMANAGER', 'ROLE_SALESDIRECTOR', 'ROLE_DIRECTOR', 'ROLE_SU')" th:href="@{/countries}" href="index.html" title="blank_">
									<i class="fa fa-lg fa-fw fa-flag"></i> Countries
								</a>
							</li>
							<li>
								<a sec:authorize="hasAnyRole('ROLE_ADMINISTRATOR', 'ROLE_PURCHASING', 'ROLE_PURCHASINGMANAGER', 'ROLE_SALESDIRECTOR', 'ROLE_DIRECTOR', 'ROLE_SU')" th:href="@{/seaports}" href="index.html" title="blank_">
									<i class="fa fa-lg fa-fw fa-anchor"></i> Seaports
								</a>
							</li>
							<li>
								<a sec:authorize="hasAnyRole('ROLE_ADMINISTRATOR', 'ROLE_PURCHASING', 'ROLE_PURCHASINGMANAGER', 'ROLE_SALESDIRECTOR', 'ROLE_DIRECTOR', 'ROLE_SU')" th:href="@{/airports}" href="index.html" title="blank_">
									<i class="fa fa-lg fa-fw fa-plane"></i> Airports
								</a>
							</li>
							<li>
								<a sec:authorize="hasAnyRole('ROLE_ADMINISTRATOR', 'ROLE_PURCHASING', 'ROLE_PURCHASINGMANAGER', 'ROLE_SALESDIRECTOR', 'ROLE_DIRECTOR', 'ROLE_SU')" th:href="@{/depots}" href="index.html" title="blank_">
									<i class="fa fa-lg fa-fw fa-building"></i> Depots
								</a>
							</li>
							<li>
								<a sec:authorize="hasAnyRole('ROLE_ADMINISTRATOR', 'ROLE_PURCHASING', 'ROLE_PURCHASINGMANAGER', 'ROLE_SALESDIRECTOR', 'ROLE_DIRECTOR', 'ROLE_SU')" th:href="@{/documenttypes}" href="index.html" title="blank_">
									<i class="fa fa-lg fa-fw fa-book"></i> Document Types
								</a>
							</li>
							<li>
								<a sec:authorize="hasAnyRole('ROLE_ADMINISTRATOR', 'ROLE_PURCHASING', 'ROLE_PURCHASINGMANAGER', 'ROLE_SALESDIRECTOR', 'ROLE_DIRECTOR', 'ROLE_SU')" th:href="@{/pricingunits}" href="index.html" title="blank_">
									<i class="fa fa-lg fa-fw fa-cubes"></i> Pricing Unit
								</a>
							</li>
							<li>
								<a sec:authorize="hasAnyRole('ROLE_ADMINISTRATOR', 'ROLE_PURCHASING', 'ROLE_PURCHASINGMANAGER', 'ROLE_SALESDIRECTOR', 'ROLE_DIRECTOR', 'ROLE_SU')" th:href="@{/productfeatures}" href="index.html" title="blank_">
									<i class="fa fa-lg fa-fw fa-star"></i> Product Features
								</a>
							</li>
							<li>
								<a sec:authorize="hasAnyRole('ROLE_ADMINISTRATOR', 'ROLE_PURCHASING', 'ROLE_PURCHASINGMANAGER', 'ROLE_SALESDIRECTOR', 'ROLE_DIRECTOR', 'ROLE_SU')" th:href="@{/legalnotes}" href="index.html" title="blank_">
									<i class="fa fa-lg fa-fw fa-legal"></i> Legal Note
								</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#" title="blank_">
							<i class="fa fa-lg fa-fw fa-cubes"></i> <span class="menu-item-parent">Items</span>
						</a>
						<ul>
							<li>
								<a sec:authorize="hasAnyRole('ROLE_ADMINISTRATOR', 'ROLE_PURCHASING', 'ROLE_PURCHASINGMANAGER', 'ROLE_SALESPERSON', 'ROLE_SALESDIRECTOR', 'ROLE_DIRECTOR', 'ROLE_SU')" th:href="@{/item/3}" href="index.html" title="blank_">
									<i class="fa fa-lg fa-fw fa-book"></i> Permits
								</a>
							</li>
							<li>
								<a sec:authorize="hasAnyRole('ROLE_ADMINISTRATOR', 'ROLE_PURCHASING', 'ROLE_PURCHASINGMANAGER', 'ROLE_SALESPERSON', 'ROLE_SALESDIRECTOR', 'ROLE_DIRECTOR', 'ROLE_SU')" th:href="@{/item/2}" href="index.html" title="blank_">
									<i class="fa fa-lg fa-fw fa-truck"></i> Trucking
								</a>
							</li>
							<li>
								<a sec:authorize="hasAnyRole('ROLE_ADMINISTRATOR', 'ROLE_PURCHASING', 'ROLE_PURCHASINGMANAGER', 'ROLE_SALESPERSON', 'ROLE_SALESDIRECTOR', 'ROLE_DIRECTOR', 'ROLE_SU')" th:href="@{/item/0}" href="index.html" title="blank_">
									<i class="fa fa-lg fa-fw fa-plane"></i> Air Freight
								</a>
							</li>
							<li>
								<a sec:authorize="hasAnyRole('ROLE_ADMINISTRATOR', 'ROLE_PURCHASING', 'ROLE_PURCHASINGMANAGER', 'ROLE_SALESPERSON', 'ROLE_SALESDIRECTOR', 'ROLE_DIRECTOR', 'ROLE_SU')" th:href="@{/item/1}" href="index.html" title="blank_">
									<i class="fa fa-lg fa-fw fa-life-saver"></i> Sea Freight
								</a>
							</li>
							<li>
								<a sec:authorize="hasAnyRole('ROLE_ADMINISTRATOR', 'ROLE_PURCHASING', 'ROLE_PURCHASINGMANAGER', 'ROLE_SALESPERSON', 'ROLE_SALESDIRECTOR', 'ROLE_DIRECTOR', 'ROLE_SU')" th:href="@{/item/4}" href="index.html" title="blank_">
									<i class="fa fa-lg fa-fw fa-plus"></i> Additional
								</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#" title="blank_">
							<i class="fa fa-lg fa-fw fa-shopping-cart"></i> <span class="menu-item-parent">Sales</span>
						</a>
						<ul>
							<li>
								<a sec:authorize="hasAnyRole('ROLE_ADMINISTRATOR', 'ROLE_SALESPERSON', 'ROLE_SALESDIRECTOR', 'ROLE_DIRECTOR','ROLE_FINANCE', 'ROLE_SU')" th:href="@{/customers}"  href="index.html" title="blank_">
									<i class="fa fa-lg fa-fw fa-child"></i> Customers
								</a>
							</li>
							<li>
								<a sec:authorize="hasAnyRole('ROLE_ADMINISTRATOR', 'ROLE_SALESPERSON', 'ROLE_SALESDIRECTOR', 'ROLE_DIRECTOR','ROLE_FINANCE', 'ROLE_SU')" th:href="@{/quotations}"  href="index.html" title="blank_">
									<i class="fa fa-lg fa-fw fa-table"></i> Quotations
								</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#" title="blank_">
							<i class="fa fa-lg fa-fw fa-shopping-cart"></i> <span class="menu-item-parent">Purchasing</span>
						</a>
						<ul>
							<li>
								<a th:href="@{/vendors}"  href="index.html" title="blank_">
									<i class="fa fa-lg fa-fw fa-truck"></i> Vendors
								</a>
							</li>
						</ul>
					</li>
					<li sec:authorize="hasAnyRole('ROLE_ADMINISTRATOR', 'ROLE_DIRECTOR', 'ROLE_SU')">
						<a href="#" title="blank_">
							<i class="fa fa-lg fa-fw fa-lock"></i> <span class="menu-item-parent">Security</span>
						</a>
						<ul>
							<li sec:authorize="hasAnyRole('ROLE_ADMINISTRATOR', 'ROLE_DIRECTOR', 'ROLE_SU')">
								<a th:href="@{/users}"  href="index.html" title="blank_">
									<i class="fa fa-lg fa-fw fa-user"></i> Users
								</a>
							</li>
							<li sec:authorize="hasAnyRole('ROLE_ADMINISTRATOR', 'ROLE_DIRECTOR', 'ROLE_SU')">
								<a th:href="@{/roles}" href="index.html" title="blank_">
									<i class="fa fa-lg fa-fw fa-group"></i> Roles
								</a>
							</li>
						</ul>
					</li>
					<li sec:authorize="hasAnyRole('ROLE_ADMINISTRATOR', 'ROLE_DIRECTOR', 'ROLE_SU')">
						<a href="#" title="Settings">
							<i class="fa fa-lg fa-fw fa-gear"></i> Settings
						</a>
						<ul>
							<li sec:authorize="hasAnyRole('ROLE_ADMINISTRATOR', 'ROLE_DIRECTOR', 'ROLE_SU')">
								<a th:href="@{/notifications/settings}"  href="index.html" title="blank_">
									<i class="fa fa-lg fa-fw fa-bell"></i> Notifications
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>

			<span class="minifyme" data-action="minifyMenu"> <i class="fa fa-arrow-circle-left hit"></i> </span>

		</aside>
		<!-- END NAVIGATION -->
	</body>
</html>