<!DOCTYPE html>
<html lang="en-us">
	<head>
		<title> Super Admin Dashboard</title>
    	<!--/*/ <th:block th:include="fragments/include_header :: head"></th:block> /*/-->
    	
	</head>

	
	<body>

		<!--/*/ <th:block th:include="fragments/include_heading :: heading"></th:block> /*/-->

    	<!--/*/ <th:block th:include="fragments/include_navigation :: navigation"></th:block> /*/-->
		
		<!-- #MAIN PANEL -->
		<div id="main" role="main">

			<!-- RIBBON -->
			<div id="ribbon">

				<!-- breadcrumb -->
				<ol class="breadcrumb">
					<li>Dashboard</li>
				</ol>
				<!-- end breadcrumb -->

			</div>
			<!-- END RIBBON -->

			<!-- #MAIN CONTENT -->
			<div id="content">
				
			</div>
		</div>
		<!-- END #MAIN PANEL -->

    	<!--/*/ <th:block th:include="fragments/include_footer :: footer"></th:block> /*/-->

		<!-- #SHORTCUT AREA : With large tiles (activated via clicking user name tag)
			 Note: These tiles are completely responsive, you can add as many as you like -->
		<div id="shortcut">
			<ul>
				<li>
					<a href="index.html" class="jarvismetro-tile big-cubes bg-color-blue"> <span class="iconbox"> <i class="fa fa-envelope fa-4x"></i> <span>Mail <span class="label pull-right bg-color-darken">14</span></span> </span> </a>
				</li>
			</ul>
		</div>
		<!-- END SHORTCUT AREA -->

		<!--================================================== -->

		<!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)
		<script data-pace-options='{ "restartOnRequestAfter": true }' src="js/plugin/pace/pace.min.js"></script>-->

		<!--/*/ <th:block th:include="fragments/include_plugin :: plugin"></th:block> /*/-->

	
	</body>

</html>