<!DOCTYPE html>
<html lang="en-us">
	<head>
		<title>Dashboard</title>
    	<!--/*/ <th:block th:include="fragments/include_header :: head"></th:block> /*/-->
    	
	</head>

	
	<body class="">


		<!--/*/ <th:block th:include="fragments/include_heading :: heading"></th:block> /*/-->

    	<!--/*/ <th:block th:include="fragments/include_navigation :: navigation"></th:block> /*/-->
		
		<!-- #MAIN PANEL -->
		<div id="main" role="main">

			<!-- RIBBON -->
			<div id="ribbon">

				<!-- breadcrumb -->
				<ol class="breadcrumb">
					<li>Dashboard</li>
				</ol>
				<!-- end breadcrumb -->

				<span class="ribbon-button-alignment pull-right" style="margin-right:25px">
<!-- 					<a href="#" th:href="@{customers/new}" id="add" class="btn btn-ribbon hidden-xs"> -->
<!-- 						<span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa fa-plus"></i> New Customer</span> -->
<!-- 					</a> -->
<!-- 					<a href="#" th:href="@{settings/customer}" id="settings" class="btn btn-ribbon hidden-xs"> -->
<!-- 						<span id="settings" class="btn btn-ribbon hidden-xs" data-title="settings"><i class="fa fa-gear"></i> Settings</span> -->
<!-- 					</a> -->
				</span>

			</div>
			<!-- END RIBBON -->

			<!-- #MAIN CONTENT -->
			<div id="content">
			<section id="widget-grid" class="">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
					<div class="well">
					<h6>My Draft Customers</h6>
						<table class="table table-hover">
							<tbody>
								<tr th:each="customer : ${draftCustomers}" th:if="${#strings.isEmpty(customer.rejectReason)}">
									<td><a  th:text="${customer.name}" th:href="@{/customers/{id}(id=${customer.id})}"></a></td>
								</tr>
							</tbody>
						</table>
					</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
					<div class="well">
					<h6>My Customers Awaiting Acceptance</h6>
						<table class="table table-hover">
							<tbody>
								<tr th:each="customer : ${awatingApprovalCustomers}">
									<td><a th:text="${customer.name}" th:href="@{/customers/{id}(id=${customer.id})}"></a></td>
								</tr>
							</tbody>
						</table>
					</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
					<div class="well">
					<h6>My Rejected Customers</h6>
						<table class="table table-hover">
							<tbody>
								<tr th:each="customer : ${rejectedCustomers}" th:unless="${#strings.isEmpty(customer.rejectReason)}">
									<td><a th:text="${customer.name}" th:href="@{/customers/{id}(id=${customer.id})}"></a></td>
									<td th:text="${customer.rejectReason}"></td>
								</tr>
							</tbody>
						</table>
					</div>
					</div>
				</div>
			</section>
			</div>
			<!-- END #MAIN CONTENT -->

		</div>
		<!-- END #MAIN PANEL -->

    	<!--/*/ <th:block th:include="fragments/include_footer :: footer"></th:block> /*/-->
		


		<!--================================================== -->

		<!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)
		<script data-pace-options='{ "restartOnRequestAfter": true }' src="js/plugin/pace/pace.min.js"></script>-->


		
		<!--/*/ <th:block th:include="fragments/include_plugin :: plugin"></th:block> /*/-->


	</body>

</html>