<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="form(formAction, method)">
		<form id="userForm" method="POST" novalidate="novalidate" th:object="${user}" th:action="${formAction}" class="bv-form">
			

			<fieldset>
				<legend>User</legend>
				<div class="form-group">
					<div class="row">
						<div class="col-sm-12 col-md-6 has-feedback">
							<input type="hidden" th:value="*{username}" />
							<div th:include="forms/controls :: input" th:with="fieldDisabled=${method=='PUT'?true:false}, fieldLabel='User Name', fieldName='username'" th:remove="tag"></div>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<div class="row">
						<div class="col-sm-12 col-md-6 has-feedback">
							<div th:include="forms/controls :: input" th:with="fieldType='password', fieldLabel='Password', fieldName='password'" th:remove="tag"></div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-sm-12 col-md-6 has-feedback">
							<div th:include="forms/controls :: input" th:with="fieldType='text', fieldLabel='Full Name', fieldName='fullName'" th:remove="tag"></div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-sm-12 col-md-6 has-feedback">
							<div th:include="forms/controls :: input" th:with="fieldType='email', fieldLabel='email', fieldName='email'" th:remove="tag"></div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-sm-12 col-md-4 has-feedback">
							<div th:include="forms/controls :: checkbox" th:with="fieldLabel='Enabled', fieldName='enabled', fieldChecked=${user.enabled==null?'true':'user.enabled'}" th:remove="tag"></div>
						</div>
					</div>
				</div>
				
				<div class="form-group">
					<div class="row">
						<div class="col-sm-12 col-md-6 has-feedback">
							<label>Roles</label>
							<select style="width:100%;" multiple="multiple" id="selectedUserGroup" th:field="*{userGroups}">
				                <option th:each="option : ${roles}" th:value="${option.id}" th:field="*{userGroups}" th:text="${option.description}" ></option>
				            </select>
				        </div>
					</div>
				</div>
				
			</fieldset>


			<div class="form-actions">
				<div class="row">
					<div class="col-md-12">
						<button class="btn btn-default" type="submit">
							<i class="fa fa-save"></i> Save
						</button>
					</div>
				</div>
			</div>

		</form>
	</div>
</body>
</html>