<div th:remove="tag" xmlns:th="http://www.thymeleaf.org">
      
    <div th:fragment="itemTable(itemType)" th:remove="tag">
		<table class="table table-striped">
			<thead>
				<tr>
					<th th:include="forms/table :: sortable ('Origin', 'origin.name', ${items})"> </th>
					<th th:include="forms/table :: sortable ('Destination', 'destination.name', ${items})"> </th>
					<th th:include="forms/table :: sortable ('Description', 'description', ${items})"> </th>
					<th th:include="forms/table :: sortable ('Status', 'status', ${items})"> </th>
				</tr>
			</thead>
			<tbody>
			<tr th:each="item : ${items}">
				<td><a th:href="@{/item/{itemTypeId}/{itemId}(itemTypeId=${itemType.ordinal()}, itemId=${item.id})}" th:text="${item.origin.name}"></a></td>
				<td><a th:href="@{/item/{itemTypeId}/{itemId}(itemTypeId=${itemType.ordinal()}, itemId=${item.id})}" th:text="${item.destination.name}"></a></td>
				<td th:text="${item.description}"></td>
				<td th:text="${item.status}"></td>
			</tr>
			</tbody>
		</table>
		
		<div th:unless="${items.totalPages} == 0">
			<!--/*/ <th:block th:include="forms/table :: paginate ('/item/${itemType.value}', ${items})"></th:block> /*/-->
		</div>
    </div>
    
    <div th:fragment="show" th:remove="tag">
		<div class="row">
			<div class="col-sm-12 col-md-12 has-feedback">
				<h6>Origin</h6> <span class="text-right" th:text="${item.origin.name}"></span>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-12 has-feedback">
				<h6>Destination</h6> <span class="text-right" th:text="${item.destination.name}"></span>
			</div>
		</div>
    </div>
</div>